 /* mail index  */
 .mail-index-container{
    display: flex;
 }
 .mail-index-container nav{
   background-color: #F6F9FC;
   padding-block-start: 10px;
   padding-inline-end: 10px;
   display: grid;
   gap: 15px;
 }
 