.mail-preview-container {
  display: flex;
  background-color: white;
  padding: 20px;
  flex: 1;
}
.MailPreview {
  background-color: white;
  color: black;
  padding: "20px";
  color: "black";
  padding: 20px;
}
.back-btn {
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  padding: 10px;
}
.back-btn:hover {
  background-color: #f1f3f4;
}
