.closeComposeBtn{
 position: absolute;
 right: 10px;
 background-color: transparent;
 border: 0px;  
 width: 30px;
aspect-ratio: 1; 
}
.closeComposeBtn:hover{
    background-color: #DADCE0;
    
}
.compose-title{
display: flex;
align-items: center;
background-color: #FAFBFC;
}
.compose-modal{
    position: fixed;
    bottom: 0;
    padding: 0;
    height: 500px;
    width: 500px;
    
}