.mail-folder-list{
    display: grid;
    justify-content: center;
}
.mail-folder-list button{
border-radius: 50%;
height: max-content;
aspect-ratio: 1;
background-color: transparent;
border: none;
}
.mail-folder-list button:hover{
background-color: #ECEFF1;
}