.mail-folder-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: start;
  align-items: start;
}
.mail-folder-list nav {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: start;
  align-items: start;
}
.mail-folder-list button {
  border-radius: 999px;
  height: max-content;
  width: 300px;
  padding-block: 5px;
  padding-inline-start: 15px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
}
.clicked-option {
  background-color: #e8f0fe !important;
  font-weight: bold;
}
.mail-folder-list button:hover {
  background-color: #eceff1;
}
