/* ========== MOBILE FIRST ========== */
/* Handles nav collapse */
@media (max-width: 900px) {
    .main-nav:not(.main-nav--simple) {
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        background: var(--clr-header);
        display: grid;
        grid-template-rows: 0fr;
        align-items: end;
        overflow: hidden;
        transition: grid-template-rows 0.3s ease;
        z-index: 10;
    }

    .main-nav:not(.main-nav--simple)>ul {
        flex-direction: column;
    }

    .main-nav:not(.main-nav--simple) li {
        width: 100%;
    }

    body.menu-open .main-nav:not(.main-nav--simple) {
        grid-template-rows: 1fr;
    }

    .main-layout {
        padding-inline: var(--space-md);
    }

    .home h1 {
        font-size: 2rem;
    }

    .home-tagline {
        font-size: 1.1rem;
        line-height: 1.5;
    }
}

/* ========== TABLET ========== */
@media (min-width: 640px) {
    .main-layout {
        grid-template-columns: minmax(16px, 1fr) minmax(auto, 600px) minmax(16px, 1fr);
    }
}

/* ========== MEDIUM DESKTOP ========== */
@media (min-width: 768px) {
    .main-layout {
        grid-template-columns: minmax(16px, 1fr) minmax(auto, 860px) minmax(16px, 1fr);
    }
}

/* ========== STANDARD DESKTOP ========== */
@media (min-width: 1100px) {
    .main-layout {
        grid-template-columns: minmax(16px, 1fr) minmax(auto, 1060px) minmax(16px, 1fr);
    }

    .main-nav:not(.main-nav--simple) .main-nav-list a {
        width: 120px;
    }
}