.keep-index {
    gap: var(--space-md);
    padding-top: var(--space-sm);
    padding-bottom: var(--space-md);
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.keep-index>.flex.row.space-between {
    margin-bottom: var(--space-md);
}



.keep-index h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--clr-text-invert);
    text-align: center;
}

.keep-index button {
    background-color: transparent;
    color: var(--clr-text-invert);
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 0.5em 1em;
    cursor: pointer;
    font-weight: 500;
    transition: background-color var(--transition-fast), color var(--transition-fast);
}

.keep-index button:hover {
    background-color: #ffffff00;
    color: rgba(255, 255, 255, 0.789);

}


.keep-notes {
    width: 100%;
}