.note-filter input,
.note-filter select {
    font-size: 1.05rem;
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #fff;
    background-color: transparent;
    color: var(--clr-text-invert);
    outline: none;
    transition: color 0.2s ease, border-color 0.2s ease, background-color 0.2s ease;
    appearance: none;
}

.note-filter input:hover,
.note-filter select:hover {
    color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.7);
}

.note-filter input:focus,
.note-filter select:focus {
    border-color: rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.9);
}

.note-filter select option {
    background-color: rgba(20, 20, 20, 0.9);
    /* semi-transparent dark background */
    color: #fff;
    border: none;
}

.note-filter select::-ms-expand {
    display: none;
}

.note-filter {
    width: 100%;
    max-width: 600px;
    margin: var(--space-md) 0;
    gap: var(--space-sm);
}

.note-filter select {
    cursor: pointer;
}